<!DOCTYPE html>
<html>
  <head>
    <title>Pourmans Coffee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="react-app" data-instagram=<%="#{ENV['INSTAGRAM_ACCESS_TOKEN']}"%>></div>
    <%= yield %>
  </body>
</html>
